<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.om.springboot.mappers.user.StatusMasterMapper">
    <resultMap id="StatusMasterResultMap" type="com.om.springboot.model.user.StatusMaster">
        <id column="STATUS_ID" property="statusId"/>
        <result column="STATUS" property="status"/>
    </resultMap>


    <select id="getByStatus" resultMap="StatusMasterResultMap">
        SELECT STATUS_ID, STATUS
        FROM STATUS_MASTER
        WHERE STATUS=#{status}
    </select>

    <select id="getStatusById" resultMap="StatusMasterResultMap">
        SELECT STATUS_ID, STATUS
        FROM STATUS_MASTER
        WHERE STATUS_ID=#{statusId}
    </select>

    <select id="findByStatusId" resultType="boolean">
        SELECT STATUS_ID, STATUS
        FROM STATUS_MASTER
        WHERE STATUS_ID=#{statusId}
    </select>

    <select id="findByStatus" resultType="boolean">
        SELECT STATUS_ID, STATUS
        FROM STATUS_MASTER
        WHERE STATUS=#{status}
    </select>
</mapper>